body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    color: white;
    background: linear-gradient(90deg, rgb(87, 85, 85) 0%, rgb(76, 76, 80) 35%, rgb(44, 43, 43) 100%);
  }
  
  .present {
    color: white;
    background: linear-gradient(90deg, rgb(62, 248, 72) 0%, rgb(43, 250, 88) 35%, rgb(2, 250, 23) 100%);
  }
  
  .future {
    color: white;
    background: linear-gradient(90deg, rgb(250, 109, 109) 0%, rgb(241, 41, 41) 35%, rgb(255, 0, 0) 100%);
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: rgb(0, 0, 0);
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }